<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-dark sidebar collapse">
    <div class="position-sticky pt-3 sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link mt-2 text-light" aria-current="page" href="/">
                    <i class="bi bi-people"></i>
                    <span class="ms-2">Members</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-primary" href="/book">
                    <i class="bi bi-book"></i>
                    <span class="ms-2">Books</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-info" href="/bookRequest">
                    <i class="bi bi-book-half"></i>
                    <span class="ms-2">Book Requests</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-success" href="/about">
                    <i class="bi bi-patch-question"></i>
                    <span class="ms-2">About</span>
                </a>
            </li>
        </ul>
    </div>
  </nav>
  